
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* This is the max width of the container */
.container{
    max-width: 1200px;
}

/* This wrapper makes the contenet center */
.wrapper {
    max-width:90%;
    margin: 0 auto;
}
/* style the font weight of the headings */
.wrapper h1, h2, h3, h4 {
     font-weight: bolder;  
}

/* style the header color */
header {
    background-color:  #222;
    border: 12px solid  #222;   
    padding: 0px 0 20px 0;
}
.logo {
   width: 100%;
   background-color:#c78c06;
  
}


/* This line code style the home bar only */
nav ul li .active{
    color: #222;
    background-color: #c78c06;
    max-width: 100%;
    padding: 10px;
}
/* These lines of code style the navigation bar of the website */  
.home ,nav ul {
     list-style: none;
     padding-left: 0;
     text-align: center;      
} 
/* This style change the color of the home nav bar */
.home a {
      color:  #222;
}
/* These style change the color of the nav bar */
 nav ul li a {
      color:#c78c06;
}
  .home ,nav a {
      text-decoration: none; 
}
.home nav ul li {
      margin: 1rem;  
}
nav ul li {
      margin: 1rem;   
}

nav form {
    text-align: center;
    max-width: 100%;
}
.tbox{
    width: 60%;
    padding: 5px;
    
}
/* this line of style the image width 100% */
.img-banner ,.img-about {
    width: 100%;
}
.img-john ,.img-bob {
    width: 100%;
}
.welcome{
    position: relative;
}

/* these styles makes overlay text on the banner image */
.banner-text-overlay{ 
    position:absolute;
    top: 100px;
    max-width: 1200px;
    text-align: left;
    background-color: rgba(34, 34, 34, 0.692);
    padding: 10px;
    line-height: 25px;
}
.banner-text-overlay h1 {
    font-size: 3rem;
    line-height: 50px;  
    color: white;
}
.banner-text-overlay p {
    font-size: 16px;
    line-height: 20px;  
    color: white;
    margin-bottom: 20px;
}
.welcome {
    background-color: #ffe6ac;
}
.banner-text-overlay a { 
    color: #222;
    text-decoration: none;
    font-size: 20px;      
}

/* These are the style for buttons and change the buttons color, width and thier padding*/
.btn-1 {
    max-width: 40px;
    padding: 5px;
    margin: -6px;
    border-color:#c78c06;
    color: #c78c06;
    background-color:  rgb(31, 29, 29);     
    cursor: pointer;
}
.btn-2 {
    background-color: #c78c06;
    padding: 10px;
    border:none;
    max-width: 30%;
    cursor: pointer;
    border-radius: 2px;

}
.btn-3{
    background-color: #222;
    font-size: 18px;
    padding: 30px;
    margin: 5px 20px 10px 10px;
    max-width: 150px;
    cursor: pointer;
    border-radius: 2px;
}

.btn-3 i {
   color: rgb(255, 255, 255);

}
.btn-4{
    background-color: #222;
    padding: 20px;
    margin-top: 10px;
    max-width: 100px;
    cursor: pointer;
    border: 2px solid #c46a16;
    border-radius: 2px;
    
}
.btn-4 a{
    text-decoration: none;
    color: white;
 
}
.services a { 
    color: rgb(255, 255, 255);
    text-decoration: none;    
}


/* styling about us image width and divs contents style all contents inside the div */
.about-us {
    width: auto;
    background-color:#ffe6ac;

}
.img-about{
    width: 100%;
    display: block;
    margin: 5px auto 0 auto;

}
.about-us h2 {
    font-size: 2rem;
    padding: 10px 10px 10px 0;
}
.about-us p {
    padding: 0 20px 20px 0;
}
/* Change the a tag inside service class and header 2*/
.services a { 
    color: rgb(255, 255, 255);
    text-decoration: none;    
}
.services-h2{
    font-size: 4rem;
    padding: 20px 0px 20px ;
}

/* This style set the width of digitals class image 100% */
.img-digital{
    width: 100%;
}

.digital-section{
    background-color: #ffe6ac;   
    margin-top: 12px;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    line-height: 20px;

}
.digital-section h3{
    padding: 20px 10px 20px;
    font-size: 1.5rem;
}
.digital-section p{
    padding: 2px 10px 20px;
    font-size: 16px;
}

.img-market{
    width: 100%;

}
.market-section{
    background-color: #ffe6ac;  
    margin-top: 12px;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    line-height: 20px;
   
}
.market-section h3{
    padding: 20px 10px 20px;
    font-size: 1.5rem;
}
.market-section p{
    padding: 2px 10px 20px;
    font-size: 16px;
}

/* This style set the width of video class image 100% */
.img-video{
    width: 100%;

}
.production-section{
    background-color: #ffe6ac;  
    margin-top: 12px;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    line-height: 20px;
   
}
.production-section h3{
    padding: 20px 10px 20px;
    font-size: 1.5rem;
}
.production-section p{
    padding: 2px 10px 20px;
    font-size: 16px;
}

/* This style set the width of web class image 100% */
.img-web{
    width: 100%;
}
.web-section{
    background-color: #ffe6ac;  
    margin-top: 12px;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    line-height: 20px;
   
}
.web-section h3{
    padding: 20px 10px 20px;
    font-size: 1.5rem;
}
.web-section p {
    padding: 2px 10px 20px;
    font-size: 16px;
}

/* This style set the width of print class image 100% and style all contents inside */
.img-print{
    width: 100%;
}
.print-section{
    background-color: #ffe6ac;  
    margin-top: 12px;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    line-height: 20px;
   
}
.print-section h3{
    padding: 20px 10px 20px;
    font-size: 1.5rem;
}
.print-section p {
    padding: 2px 10px 20px;
    font-size: 16px;
}

/**************** vision section style ********************* */
.img-vision {
    width: 100%;

    margin-top: 12px;
}
.banner-2{
    position: relative;
}
.vision-text-overlay{
    position:absolute;
    line-height: 30px;
    top: 50px;
    text-align: left;
    color: white;
    max-width: 90%;
    
}
.vision-text-overlay h2{
    font-size: 1.5rem;
    margin: -5px 0 5px 0;
}
.vision-text-overlay p {
    font-size: 16px;
}
.vision-text-overlay a {
    font-size: 16px;
}


/************ teams section style ******************/
.team-section{
    background-color: #ffe6ac;  
   
}
.wrapper h2 {
    font-size: 2rem;
    padding: 20px 0px 0px;
    margin-bottom: 5px;
}
.team-section h3{
    padding: 20px 10px 0px;
    font-size: 1.5rem;
}
.team-section h4{
    padding: 5px 10px 0px;
    font-size: 1rem;
}

.team-section p {
    padding: 20px 10px 20px;
    font-size: 16px;
}
/* this style for horizontal line for teams part */
.line{ 
    border-bottom: 3px solid #c46a16;
    padding: 2px 20px 0px;
    margin-left: 10px;
    border-radius: 2px;
}

/*********** contact and information class style *************/
.info-box h2 {
    font-size: 2rem;
    padding: 20px 0 20px 0px; 
}
.info-box h3 {
    font-size: 1.5rem;
}

.info {
    max-width: 100%;
    padding: 10px 0 0 0;
    margin: 10px 0 0 0;
}
.info label {
    width: 100%;
    padding: 20px 0 0 0;
    margin-top: 10px;
}
.info #yourname {
    width: 100%;
    padding: 10px 0 0 0;
    font-size: 18px;
    margin: 10px 0px 10px 0px;
}

.info #youremail{
    width: 100%;
    padding: 10px 0 0 0;
    font-size: 18px;
    margin: 10px 0px 10px 0px;
}

.message input {
    width: 100%;
    height: 150px;
    padding: 10px 0 0 0;
    font-size: 18px;
    margin: 10px 0px 10px 0px;
}
.message {
    padding: 10px 0 0 0;
    margin: 5px 0 0 0;
}

.btn-5 {
    width: 60px;
    max-height: 30px;
    font-size: 20px;
    background-color: #222;
    color: #c78c06;
    border: none;
    cursor: pointer;
}

/* These lines of code style two colomuns and threee rows */
.hours-table h2 {
    font-size: 2rem;
    padding: 20px 0 20px 0px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;

}

table tr th {
    background-color: #ffe6ac;
    text-align: center;
    padding: 12px;
    border: 0.5px solid black;
}
table td {
    padding: 12px;
    border: 0.5px solid black;  
}

/* This line code style the width and location section*/
iframe{
    width: 100%;
    border: none;
    
}

/******************** footer style************/
footer{
 
    background-color: #222;
    color: #c78c06;
    padding: 20px 25px;   
}
footer a {
    color: #c78c06;

}
footer p {
    line-height: 30px;
}
/* This is for media screen 760px and above part */
@media screen and (min-width: 760px){
    /* This change the font family in to opens sans for the webpage */
      body {
      font-family: 'Open Sans', sans-serif;
      
     }
     .container{
         max-width: 100%;
         margin: 0 auto;
     }
     .wrapper{
         margin: 0 auto;
     }
     header {
         border: none;      
     }

     /* This line of code change the size of the header banner */
     .img-banner{
        width: 100%;
        max-height: 600px;
        object-fit: cover;
     }
     .logo{
         position: relative;
         background-color: transparent;
         max-width: 100%;
         margin: 20px 0 18px 0;
     } 
     .img-logo {
         position: absolute;
         max-width: 60px;
         top: 0;
         left: 20px;
     }
     /* Styling the  home navigation bar  */
     nav {
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         justify-content:center;

     }
     nav ul {
         display: flex;
         text-align: center;

     }
     nav ul li a{
         padding: 5px;
      
     }
     nav ul li .active {
         background-color: #c78c06;
         color: #222;
         padding: 10px 20px 10px 40px;
         cursor: pointer;
     }

      /* This change the size of the header banner image size into cover */
     .img-vision{
         width: 100%;
         max-height: 400px;
         object-fit: cover;
     }
     .vision-text-overlay {
         max-width:100%;
     }
     .banner-text-overlay{
         position:absolute;
         top: 180px;
         max-width: 700px;
         padding: 10px 0 50px 30px;
         line-height: 50px;
     }
     .banner-text-overlay h1 {
         font-weight: 900;
         line-height: 80px;    
     }
     .banner-text-overlay p{
         font-size: 20px;
         line-height: 30px;    
     }


     .img-about{
         max-width: 300px;
         float: left;
         margin: 10px 15px 10px 0;        
     }

     .services {
         margin-bottom: 10px;
     }
     /* style the font weight of the wrapper's heading */
     .wrapper h1, h2, h3, h4 {
         font-weight: bolder;  
     }

    
     .row-1 {
         display: grid;
         grid-gap: 10px;
         grid-template-columns: repeat(2,1fr);            
     }

     .row-2 {
         display: grid;
         grid-gap: 10px;
         grid-template-columns: repeat(3,1fr);

     }

    
     .teams{
         display: flex;
         flex-wrap: wrap;

     }
     .teams .team-section:nth-child(1),
     .team-section:nth-child(2){
        flex-basis: 50%;
     }
     .teams .team-section:nth-child(1),
     .team-section:nth-child(2){
         order: 1;
     }
     .teams .team-section:nth-child(3),
     .team-section:nth-child(4){
        flex-basis: 50%;
     }
     .teams .team-section:nth-child(3){
         order: 3;
     }
     .team-section:nth-child(4){
         order: 2;
     }
  
   /* This style rearragne the order of the child divs inside order class */
     .order {
         display: flex;
         flex-wrap: wrap;
         gap: 8px;
     }
     .order .order-section:nth-child(1),
     .order-section:nth-child(3) {
         flex-basis: calc(50% - 4px);
         order: 1;
     }
     .order .order-section:nth-child(2){
         flex-basis: 100%;
         order: 2;
         
     }

     .btn-5{
         padding: 5px;
         margin: 10px 0px 10px 0px;
     }
     /* Style button-5 full widith for screen size 760px and above */
     .btn-3{
         background-color: #222;
         text-align: center;
         font-size: 18px;
         padding: 30px;
         margin: 5px 20px 10px 20px;
         max-width: 100%;
         cursor: pointer;
         border-radius: 2px;
     }

 }       @media screen and (min-width: 760px){
    /* This change the font family in to opens sans for the webpage */
      body {
      font-family: 'Open Sans', sans-serif;
      
     }
     .container{
         max-width: 100%;
         margin: 0 auto;
     }
     .wrapper{
         margin: 0 auto;
     }
     header {
         border: none;      
     }

     /* This line of code change the size of the header banner */
     .img-banner{
        width: 100%;
        max-height: 600px;
        object-fit: cover;
     }
     .logo{
         position: relative;
         background-color: transparent;
         max-width: 100%;
         margin: 20px 0 18px 0;
     } 
     .img-logo {
         position: absolute;
         max-width: 60px;
         top: 0;
         left: 20px;
     }
     /* styling the home navigation bar  */
     nav {
         display: flex;
         align-items: center;
         flex-wrap: wrap;
         justify-content:center;

     }
     nav ul {
         display: flex;
         text-align: center;

     }
     nav ul li a{
         padding: 5px;
      
     }
     nav ul li .active {
         background-color: #c78c06;
         color: #222;
         padding: 10px 20px 10px 40px;
         cursor: pointer;
     }

      /* These lines of code change the size of the header banner image*/
     .img-vision{
         width: 100%;
         max-height: 400px;
         object-fit: cover;
     }
     .vision-text-overlay {
         max-width:100%;
     }
     .banner-text-overlay{
         position:absolute;
         top: 180px;
         max-width: 700px;
         padding: 10px 0 50px 30px;
         line-height: 50px;
     }
     .banner-text-overlay h1 {
         font-weight: 900;
         line-height: 80px;    
     }
     .banner-text-overlay p{
         font-size: 20px;
         line-height: 30px;    
     }


     .img-about{
         max-width: 300px;
         float: left;
         margin: 10px 15px 10px 0;        
     }

     .services {
         margin-bottom: 10px;
     }
     /* Stylinh the font weight of the wrapper's heading */
     .wrapper h1, h2, h3, h4 {
         font-weight: bolder;  
     }

     
     .row-1 {
         display: grid;
         grid-gap: 10px;
         grid-template-columns: repeat(2,1fr);            
     }
     
     .row-2 {
         display: grid;
         grid-gap: 10px;
         grid-template-columns: repeat(3,1fr);

     }

     .teams{
         display: flex;
         flex-wrap: wrap;

     }
     .teams .team-section:nth-child(1),
     .team-section:nth-child(2){
        flex-basis: 50%;
     }
     .teams .team-section:nth-child(1),
     .team-section:nth-child(2){
         order: 1;
     }
     .teams .team-section:nth-child(3),
     .team-section:nth-child(4){
        flex-basis: 50%;
     }
     .teams .team-section:nth-child(3){
         order: 3;
     }
     .team-section:nth-child(4){
         order: 2;
     }
  
     /* These style rearragne the order of the child divs inside it */
     .order {
         display: flex;
         flex-wrap: wrap;
         gap: 8px;
     }
     .order .order-section:nth-child(1),
     .order-section:nth-child(3) {
         flex-basis: calc(50% - 4px);
         order: 1;
     }
     .order .order-section:nth-child(2){
         flex-basis: 100%;
         order: 2;
         
     }

     .btn-5{
         padding: 5px;
         margin: 10px 0px 10px 0px;
     }
     /* Style btn-5 full widith for screen size 760px and above */
     .btn-3{
         background-color: #222;
         text-align: center;
         font-size: 18px;
         padding: 30px;
         margin: 5px 20px 10px 20px;
         max-width: 100%;
         cursor: pointer;
         border-radius: 2px;
     }

 }       